@import "tailwindcss";

/* Enable base styles manually */
@layer base {
  html, body {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Poppins', sans-serif !important;
  }
}

/* Dark mode scrollbar */
/* ===== SCROLLBAR (DARK + LIGHT) ===== */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #94a3b8; /* slate-400 */
  border-radius: 10px;
}

/* Dark mode */
.dark ::-webkit-scrollbar-thumb {
  background: #334155; /* slate-700 */
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* slate-500 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #94a3b8 transparent;
}

.dark * {
  scrollbar-color: #334155 transparent;
}